@font-face {
	font-family: 'Caecilia';
	src: url('CaeciliaLTStd-Roman.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Caecilia';
	src: url('CaeciliaLTStd-Italic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Caecilia';
	src: url('CaeciliaLTStd-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Caecilia';
	src: url('CaeciliaLTStd-BoldItalic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Officina';
	src: url('OfficinaSerifStd-Book.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Officina';
	src: url('OfficinaSerifStd-BookItalic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}

/* general styling */

html {
	font-family: 'Caecilia', 'Roboto Slab', serif;
	cursor: help;
}

body {
	color: #855B69;
	overflow-x: hidden;

}

.people
{
	background-image: url("../assets/people.jpg");
	background-size: cover;
	background-color: #FE958F;
}
.events {
	background-image: url("../assets/space.jpg");
	background-size: cover;
		background-color: #FE958F;
}

.show {
	background-image: url("../assets/sport.jpg");
	background-size: cover;
		background-color: #FE958F;

}

.statement {
	background-image: url("../assets/factory.jpg");
	background-size: cover;
		background-color: #FE958F;
}

/*dark violet #270A33*/

a {
	color: #500011;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #FBB829;
}

.hide {
	display: none;
}

.expand {
	font-weight:bold;
	font-size: 18px;
/*	text-transform: uppercase;
*/	padding:1% 9% 1% 7%;
}

.expansion {
	display:none;
	padding:1% 11% 1% 10%;
}

/* overlay styling */


button {
	padding: 0%;
	margin: 5% 80% 5%;
	width: 120px;
	height: 120px;
	background:url('../assets/question.png') no-repeat center center;
	border: none;
	outline: none;
	cursor: crosshair;
}

/*section {
	padding: 3em 2em 5em;
	text-align: right;
	font-size: 1.5em;
}*/

/* Overlay style */
.overlay, .landing{
	text-align: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #E13138;
}

.landing {
	top:13%;
	height:60%;
}
/* Overlay closing cross */
.overlay .overlay-close {
	width: 120px;
	height: 120px;
	padding: 0%;
	margin: 6% 80% 5%;
	overflow: hidden;
	border: none;
	background: url('../assets/exclamation.png') no-repeat center center;
/*	color: transparent;*/
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 15%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay p, .landing p {
	font-family: "Officina";
	font-size: 40px;
	padding-bottom: 5px;
}

p.info {
	font-size: 20px;
	text-decoration: none;
	color: #FEBF97;
}

.overlay p a, .landing p a {
	text-decoration: none;
	color: #FFCCCC;
}

.overlay p a:hover, .landing p a:hover {
	color: #FBB829;
}

.overlay ul, .landing ul {
	color: #FFCCCC;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li, .landing ul li {
	display: block;
	height: 10%;
	height: calc(100% / 6);
*/	min-height: 10px;
}

.overlay ul li a, .landing ul li a {
	font-size: 30px;
	color: #FFCCCC;
	font-family:"Caecilia", 'Roboto Slab', serif;
	font-weight: normal;
	font-style: italic;
	display: block;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover, .landing ul li a:hover {
	color: #FBB829;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.7s, visibility 0s 0.7s;
	transition: opacity 0.7s, visibility 0s 0.7s;
}

.overlay-hugeinc.open {
	opacity: 0.95;
	visibility: visible;
	-webkit-transition: opacity 0.7s;
	transition: opacity 0.7s;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
	transition: transform 0.7s, opacity 0.7s;
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}
<<<<<<< HEAD
<<<<<<< HEAD

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

/*a.control_prev,*/ a.control_next {
  position: absolute;
/*  top: 40%;
*/  z-index: 999;
  display: block;
  padding: 3% 2%;
  width: 500px;
  height: 300px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  opacity: 0;
  cursor: crosshair;
}

/*a.control_prev:hover,*/ a.control_next:hover {
  opacity: 0;
  -webkit-transition: all 0.2s ease;
}

/*a.control_prev {
  border-radius: 0 2px 2px 0;
}*/

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}


=======
>>>>>>> parent of 67a53d0... first update
=======
>>>>>>> parent of 67a53d0... first update
